{{#if flag1}}
<div class="alert my-0 alert-{{color}} alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div id="main">
    <div class="container">
        <h1 class="display-2">Insta Info Loader</h1>
        <div class="box">
            <form action="/" method="POST" class="box0">
                <input name="name" id="inp" placeholder="Enter Username" type="text">
                <button type="submit" id="fetch">FETCH</button>
            </form>
            {{#if flag}}
                <div class="box1">
                    <div class="img_box">
                        <img src="images/image.jpg" alt="user">
                    </div>
                    <div class="status_box">
                        <h3 id="name">{{userName}}</h3>
                        <div class="btns">
                            <a id="view" class="btn btn-info me-2" href="{{pic}}">View Image</a>
                            <a id="down" class="btn btn-warning ms-2" href="images/image.jpg" download>Download Image</a>
                        </div>
                        <h5 id="bio">
                            {{bio}}
                        </h5>
                    </div>
                </div>
                <div class="box2">
                    <div class="b1 b">
                        <h5 id="posts">{{posts}}</h5>
                        <h4>Total Posts</h4>
                    </div>
                    <div class="b2 b">
                        <h5 id="followers">{{followers}}</h5>
                        <h4>Followers</h4>
                    </div>
                    <div class="b3 b">
                        <h5 id="following">{{following}}</h5>
                        <h4>Following</h4>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>